<link rel="stylesheet" href="bootstrap.css" />

<h2>This is Employee Details File</h2>

<table class="table table-striped">
  <tr>
    <th>EmployeeDetails</th>
    <th>Value</th> 
  </tr>
  <tr>
    <td>Name</td>
    <td>Tom Anders</td> 
  </tr>
  <tr>
    <td>Position</td>
    <td>CTO</td> 
  </tr>
  <tr>
    <td>Department</td>
    <td>IT</td> 
  </tr>
</table>